
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminPanel.cshtml";
}
    <link href="~/css/stylesxox.css" rel="stylesheet" />
<div>
    <img class="img" src="~/images/banner.jpg">
</div>